{% load crispy_forms_tags %}
<table class="table">
    {{ formset.management_form|crispy }}

    {% for form in formset.forms %}
    <tr class="{% cycle 'row1' 'row2' %} formset_row-{{ formset.prefix }}">
        {% for field in form.visible_fields %}
        <td>
            {# Include the hidden fields in the form #}
            {% if forloop.first %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
            {% endif %}
            <div>
                {{ field.errors.as_ul }}
                {{ field|as_crispy_field }}
            </div>
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
